* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fff;
    color: #000;
    /* width: 1440px; */
    margin: 0 auto;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 1440px; */
    height: 120px;
    background-color: #000;
    padding: 0 20px;
    /* margin: 0 auto; */
}

.logo img {
    width: 150px;
    height: 120px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.social-icons a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.social-icons a::after {
    content: ' | ';
}

.social-icons a:last-child::after {
    content: '';
}




.sobrenos-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

.sobrenos-content {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.sobrenos-text, .familia-image {
    flex: 1;
    padding: 20px;
}

.sobrenos-text h1, .sobrenos-text h2, .sobrenos-text p {
    margin: 10px 0;
}

.familia-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}


/* Media Query para telas menores */
@media (max-width: 768px) {
    .sobrenos-content {
        flex-direction: column;
        align-items: center;
    }

    .sobrenos-text, .familia-image {
        padding: 10px;
    }

    .sobrenos-text {
        text-align: center;
    }

    .familia-image img {
        width: 80%;
        margin: 0 auto;
    }
}

/* Media Query para telas ainda menores */
@media (max-width: 480px) {
    .sobrenos-text h1 {
        font-size: 1.5rem;
    }

    .sobrenos-text h2 {
        font-size: 1.25rem;
    }

    .sobrenos-text p {
        font-size: 1rem;
    }

    .familia-image img {
        width: 100%;
    }
}







/* 
.sobrenos-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    padding: 20px;
}

.sobrenos-content {
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sobrenos-text {
    flex: 1;
    padding: 20px;
}

.sobrenos-text h1 {
    font-size: 64px;
    color: #000;
    margin: 20px 0;
}

.sobrenos-text h2 {
    font-size: 24px;
    color: #C11F26;
    margin: 20px 0;
}

.sobrenos-text p {
    font-size: 20px;
    color: #000;
    margin: 20px 0;
}

.familia-image img {
    max-width: 100%;
    width: 620px;
    height: 680px;
    border-radius: 10px;
    margin: 10px;
} */




/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 1440px; */
    height: 160px;
    background-color: #3C3C3C;
    padding: 0 20px;
}

.footer-logo img {
    width: 168px;
    height: 156px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.footer-text p {
    font-family: 'Lora', serif;
    font-size: 16px;
    color: #FFFFFF;
    margin: 8px 0;
}